.checkbox-input {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  color: #2196f3;
  width: 18px;
  height: 18px;
  border: 1px solid #ccc;
  border-radius: 4px;
  transform: translateY(-1px);
  display: grid;
  place-content: center;
  align-self: center;
  cursor: pointer;

  &::before {
    content: "";
    width: 10px;
    height: 10px;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 100ms transform ease-in-out;
    box-shadow: inset 16px 16px #2196f3;
    background-color: #ccc;
  }

  &:checked::before {
    transform: scale(1);
  }
}
