.container {
  z-index: 10000;
  position: relative;
  background-color: white;
  width: 100%;
  height: 52px;

  .dropdownSearch {
    display: flex;
    align-items: center;
    height: 52px;
    border: 1px solid #d9d9d9;
    border-radius: 8px;
    overflow: hidden;
    max-width: 100%;
    padding: 0px 10px;
    position: relative;

    .wrapperSelectedOptions {
      max-width: 100%;
      display: flex;
      align-items: center;
      column-gap: 8px;
    }

    .input {
      all: unset;
      height: 100%;
      background-color: #fff;
      font-size: 14px;
      margin-left: 5px;
      width: calc(100% - 16px);
    }

    .searchIcon {
      position: relative;

      .loading {
        height: 16px;
        width: 16px;
        overflow: hidden;

        &::before {
          position: absolute;
          animation: spin 0.8s linear infinite;
          -webkit-animation: 0.8s spin linear infinite;
          background-image: url("/src/assets/icons/loading.jpeg");
          background-size: contain;
          content: "";
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
        }

        @keyframes spin {
          0% {
            transform: rotate(0);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }

      .arrow {
        height: 16px;
        width: 16px;
        overflow: hidden;
        transition: all 0.4s ease;

        &::before {
          position: absolute;
          background-image: url("/src/assets/icons/arrow.svg");
          background-size: contain;
          content: "";
          height: 100%;
          left: 0;
          top: 0;
          width: 100%;
        }
      }

      .activeArrow {
        transform: rotate(180deg);
        transition: all 0.4s ease;
      }
    }

    .selectedItem {
      padding: 4px 6px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: max-content;
      height: 30px;
      background-color: rgba(0, 0, 0, 0.06);
      color: #454745;
      min-width: 55px;

      .text {
        width: max-content;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 13px;
        margin-right: 5px;
      }

      .removeSelectedItemContainer {
        width: 12px;
        height: 12px;
        cursor: pointer;
      }
    }
  }

  .content {
    position: absolute;
    top: 110%;
    left: 0;
    width: 100%;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.07);
    display: none;
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 4px;
    max-height: 300px;
    overflow: auto;

    .label {
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: #454745;
      border-radius: 8px;
      font-size: 13px;
      padding: 4px 6px;
      overflow: hidden;
      line-height: 24px;

      &:hover {
        background-color: #e2e2e2;
        overflow: hidden;
      }

      input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
        margin: 0;
        color: #2196f3;
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transform: translateY(-1px);
        display: grid;
        place-content: center;
        align-self: center;
        cursor: pointer;

        &::before {
          content: "";
          width: 10px;
          height: 10px;
          clip-path: polygon(
            14% 44%,
            0 65%,
            50% 100%,
            100% 16%,
            80% 0%,
            43% 62%
          );
          transform: scale(0);
          transform-origin: bottom left;
          transition: 100ms transform ease-in-out;
          box-shadow: inset 16px 16px #2196f3;
          background-color: #ccc;
        }

        &:checked::before {
          transform: scale(1);
        }
      }
    }

    .activeLabel {
      background-color: #f3f3f3;
    }

    .notFound {
      display: grid;
      justify-content: center;
    }
  }

  .activeContent {
    display: grid;
    row-gap: 6px;
    max-height: 300px;
    overflow: auto;
  }
}
