* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", source-code-pro, -apple-system, BlinkMacSystemFont,
    Menlo, Monaco, Consolas, "Courier New", monospace;
  -webkit-user-drag: none;
  user-select: none;
}
